<h1>New Search</h1>
<%= form_with scope: :word, url: items_path, local: true do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :word %>
    <%= form.text_field :word ,placeholder:"Enter a word..." %>
  </div>

  <div class="actions">
    <%= form.submit "START SEARCH"%>
  </div>
<% end %>

<h1>DEFINITION</h1>
<%= @code_error %>
<%=@message_error %>
<%= @result_search_api %>

<%= link_to 'Back', items_path %>
